body {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 769px) {
  #Blog {
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(250, 250, 250);
    margin: 0;
    width: 100vw;
    min-height: 100%;
    overflow: auto;
  }
  #postContainer {
    font-family: "Open Sans";
    background-color: rgb(250, 250, 250);
    min-width: 58vw;
    min-height: 100%;
    overflow: auto;
  }
  #intro {
    margin-top: 1vh;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 2vh;
    font-size: 17px;
  }
  #aboutmeBlog {
    margin-top: 3vh;
    font-size: 22px;
    font-weight: bold;
    color: #d4a58c;
  }
  #blogfirstRow {
    float: none;
    margin: 0 auto;
    margin-bottom: 10vh;
    max-width: fit-content;
    flex-direction: column;
    border-bottom: 1px solid black;
    box-shadow: 10px #940c0c;
    padding-bottom: 8vh;
    min-height: 100%;
  }

  #title {
    margin-top: 8vh;
    font-weight: 700;
    font-size: 70px;
    color: #0a3d62;
  }
  #indexContainer {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #index {
    color: #007bff;
    list-style: none;
    width: fit-content;
    font-size: 16px;
  }
  #index li {
    cursor: pointer;
  }
  #index li:hover {
    color: rgb(112, 110, 110);
  }
  .indexDate {
    font-size: 15px;
  }

  .post {
    margin-bottom: 8vh;
    padding-bottom: 5vh;
    border-bottom: solid 1px black;
  }
  #postTitle {
    font-size: 30x;
    color: #0a3d62;
  }
  #postDate {
    font-size: 20px;
    margin-bottom: 3vh;
  }
  #postContent {
    font-size: 18px;
    max-width: 100%;
    overflow: hidden;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #Blog {
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(250, 250, 250);
    margin: 0;
    width: 100vw;
    min-height: 100%;
    overflow: auto;
  }
  #postContainer {
    font-family: "Open Sans";
    background-color: rgb(250, 250, 250);
    min-width: 100vw;
    min-height: 100%;
    padding-left: 6%;
    padding-right: 6%;
    overflow: auto;
  }
  #intro {
    margin-top: 1vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 2vh;
    font-size: 17px;
  }
  #aboutmeBlog {
    margin-top: 3vh;
    font-size: 22px;
    font-weight: bold;
    color: #f0b89a;
  }
  #blogfirstRow {
    float: none;
    margin: 0 auto;
    margin-bottom: 10vh;
    max-width: fit-content;
    flex-direction: column;
    border-bottom: 1px solid black;

    padding-bottom: 8vh;
    min-height: 100%;
  }

  #title {
    color: #0a3d62;
    margin-top: 8vh;
    font-weight: 700;
    font-size: 50px;
  }
  #indexContainer {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #index {
    color: #007bff;
    list-style: none;
    width: fit-content;
    font-size: 16px;
  }
  #index li {
    cursor: pointer;
  }
  #index li:hover {
    color: rgb(112, 110, 110);
  }
  .indexDate {
    font-size: 15px;
  }

  .post {
    margin-bottom: 8vh;
    padding-bottom: 5vh;
    border-bottom: solid 1px black;
  }
  #postTitle {
    font-size: 30px;
    color: #0a3d62;
  }
  #postDate {
    font-size: 20px;
    margin-bottom: 3vh;
  }
  #postContent {
    width: 100%;
    font-size: 17px;

    overflow: hidden;
  }
}
