@media screen and (min-width: 1000px) {
  .App {
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    min-height: 100vh;
  }

  .name {
    font-size: 50px;
  }
  .title {
    font-size: 30px;

  }
  .info{
    margin-top: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 18px;
  }
  
  .skyline{
    text-align: center;
    margin-bottom: 0;
    margin-left: 10vw;
  }
  #buttons{
    text-align: center;
  }
  #aboutSec {
    align-content: center;
    white-space: pre-line;
    max-width: 50vw;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 25vw;
    text-align: center;
  }

  #appContainer {
    position: relative;
    min-width: 100vw;
    min-height: 50vh;
    height: 50vh;
    white-space: pre-line;
  }
}
