@media screen and (min-width: 769px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }
  .App {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background-color: rgba(255, 255, 255, 1);
    width: 100vw;
    max-width: 100%;
  }
  .links li {
    margin-left: 10px;
  }
  .name {
    font-size: 70px;
    color: black;
  }
  .title {
    font-size: 45px;
    color: black;
  }
  .heading {
    display: block;
    text-align: center;
  }
  #icons {
    font-size: 25px;
  }
  #icon2 {
    font-size: 30px;
    color: #273c75;
  }
  #aboutSec {
    background-image: url("bg.jpg");
    background-size: 100vw 130vh;
    background-position: 10% 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }
  #info {
    top: 1.5vh;
    float: none;
    margin: 0 auto;
    align-content: center;
    white-space: pre-line;
    max-width: 40vw;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5vh;
  }
  #buttons {
    float: none;
    margin: 0 auto;
    align-content: center;
    max-width: fit-content;
  }
  #appContainer {
    padding: 0;
    position: relative;
    width: 100vw;
    max-width: 100%;
    min-height: 50vh;
    height: 50vh;
    white-space: pre-line;
  }
  #secondRow {
    margin: 0;
    width: 100vw;
    max-width: 100%;
  }
  #thirdRow {
    margin: 0;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #firstRow {
    margin: 0;
    width: 100vw;
    max-width: 100%;
  }
  #project {
    outline-color: rgba(25, 42, 86, 0.5);
    outline-width: 0.1px;
    outline-style: solid;
    padding-top: 20px;
    padding-left: 30px;
    margin: 40px;
    margin-bottom: 0;
    margin-top: 10px;
    max-width: 30vw;
    background-color: rgba(245, 246, 250, 0.8);
    min-height: 28vh;
    max-height: 33vh;
    display: flex;
    flex-direction: column;
  }
  .tag {
    margin-top: 5vh;
    background-color: rgba(25, 42, 86, 1);
    color: white;
    width: fit-content;
    font-size: 13px;
    padding-left: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 3px;
    margin-right: 5px;
  }
  .techs {
    position: absolute;
    bottom: 0;
    margin-bottom: 10%;
    height: fit-content;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .App {
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
  }
  .col {
    min-width: 100%;
  }
  #aboutSec {
    background-color: rgba(87, 101, 116, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 22vh;
  }
  .name {
    font-size: 40px;
    color: rgba(247, 241, 227, 1);
  }
  .title {
    margin-top: -1.5vh;
    font-size: 30px;
    color: rgba(247, 241, 227, 1);
  }
  .heading {
    display: block;
    text-align: center;
  }
  #project {
    min-width: 100%;
    outline-color: rgba(25, 42, 86, 0.5);
    outline-width: 0.1px;
    outline-style: solid;
    padding-top: 20px;
    background-color: rgba(245, 246, 250, 0.8);
    min-height: 40vh;
  }
  .tag {
    background-color: rgba(25, 42, 86, 1);
    color: white;
    width: fit-content;
    font-size: 15px;
    padding-left: 2px;
    padding-right: 3px;
    margin-right: 5px;
  }
  #icons {
    font-size: 36px;
  }
  #icon2 {
    font-size: 30px;
    color: #273c75;
  }
  #info {
    top: 1.5vh;
    float: none;
    margin: 0 auto;
    align-content: center;
    white-space: pre-line;
    min-width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5vh;
  }

  #buttons {
    outline: none;
    float: none;
    margin: 0 auto;
    align-content: center;
    max-width: fit-content;
  }
}
#construct {
  font-size: 17px;
  font-style: italic;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}
